<div id="<%= dom_id post %>">
  <div>
    <h1><%= post.title %></h1>
    <br/>
    <div>
      <%= image_tag(post.thumbnail, style: "width:100%; object-fit: contain; max-height: 400px;") %>
    </div>
    <div>
      <p >
        <% t = post.created_at %>
        <small class="text-body-secondary">Publicado em <%= "#{t.day}/#{t.month}/#{t.year}" %></small>
      </p>
    </div>
  </div>
  <hr/>
  <p>
    <%= post.content %>
  </p>
  <hr/>
</div>
